/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 90%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-content .campos-form label{
    font-weight: 600;
    font-size: 14px;
}

.modal .modal-content .campos-form input{
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #888;
    border-radius: 5px;
    height: 30px;
    padding: 15px 10px;
    font-weight: 400;
}

.modal .modal-content .campos-form select{
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #888;
    border-radius: 5px;
    height: 30px;

    font-weight: 400;
}

.modal .modal-content .campos-form button{
    margin-top: 30px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #888;
    border-radius: 5px;
    color: blanchedalmond;
    background: #78288C;
}


.tab-form{
    display: grid;
    height: 600px;
    padding: 30px 20px;
}
.campos-form{
    margin-top: 15px;
}

.campos-form label{
 width: 50%;
}
.campos-form input{
    width: 100%;
   }
   .campos-form select{
    width: 100%;
   }
   .campos-form button{
    width: 100%;
   }